## Data Wrangling and cleaning

In [164]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import plotly.express as px # plotly library is extensively used for interactive visualization
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#this line the plots to be embedded into the notebook
%matplotlib inline

from pylab import rcParams
rcParams['figure.figsize'] = 5,10
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [165]:
#function to load data
def load_data(url):
    data = pd.read_csv(url)
    return data

In [166]:
def clean_null_values(df, drop_columns=None):
    """
    Checks for and optionally removes rows with null values from the DataFrame.

    Parameters:
    - df (pd.DataFrame): The DataFrame to process.
    - drop_columns (list, optional): Specific columns to check for null values. 
                                     If None, all columns are checked.

    Returns:
    - pd.DataFrame: DataFrame with null rows dropped if nulls are present.
    """
    # Check if there are any null values
    if drop_columns is None:
        # Check all columns for nulls
        nulls_present = df.isnull().any().any()
    else:
        # Check specific columns for nulls
        nulls_present = df[drop_columns].isnull().any().any()

    if nulls_present:
        # Drop rows with null values
        print("Null values found. Dropping rows...")
        return df.dropna(subset=drop_columns)
    else:
        # No null values found
        print("No null values found.")
        return df

In [167]:
#POPULATION STRUCTURE

#Raw data
url_pop_struct = 'https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/population_structure.csv'
#population = pd.read_csv(url_pop_struct)
population = load_data(url_pop_struct)
population.head(5)

,Data Series,Total Population Growth,Total Population,Singapore Citizen Population,Sex Ratio,Resident Population Growth,Resident Population,Resident Natural Increase,Rate Of Natural Increase,Population Density,Permanent Resident Population,Old-Age Support Ratio: Residents Aged 20-64 Years Per Resident Aged 65 Years & Over,Old-Age Support Ratio: Residents Aged 15-64 Years Per Resident Aged 65 Years & Over,Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over,Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over,Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 20-64 Years,Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 15-64 Years,Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years,Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years,Non-Resident Population,Median Age Of Resident Population,Median Age Of Citizen Population,Child Dependency Ratio: Residents Aged Under 20 Years Per Hundred Residents Aged 20-64 Years,Child Dependency Ratio: Residents Aged Under 15 Years Per Hundred Residents Aged 15-64 Years,Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years,Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years,Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over Per Hundred Residents Aged 20-64 Years,Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years Per Hundred Residents Aged 15-64 Years,Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years,Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years
0,2023,5.0,5917648,3610658,950,1.9,4149253,4951,1.2,8058,538595,3.7,4,3.2,3.5,27.2,25.2,31.3,28.9,1768395,42.4,43,30,20.4,32.6,22.3,57.2,45.6,63.9,51.1
1,2022,3.4,5637022,3553749,955,2.2,4073239,6704,1.6,7688,519490,3.8,4.1,3.3,3.6,26,24.1,29.9,27.6,1563783,42.1,42.8,30.3,20.7,32.8,22.4,56.3,44.8,62.7,50
2,2021,-4.1,5453566,3498191,960,-1.4,3986842,10913,2.7,7485,488651,4,4.3,3.5,3.8,24.9,23.1,28.5,26.2,1466724,41.8,42.5,30.5,20.8,33,22.5,55.4,43.9,61.4,48.7
3,2020,-0.3,5685807,3523191,957,0.4,4044210,13248,3.3,7810,521019,4.3,4.6,3.7,4.1,23.4,21.6,26.8,24.6,1641597,41.5,42.2,30.6,20.7,32.9,22.2,54,42.3,59.7,46.8
4,2019,1.2,5703569,3500940,957,0.8,4026209,15042,3.7,7866,525269,4.5,4.9,4,4.3,22.1,20.4,25.3,23.2,1677360,41.1,42,30.9,20.7,33.1,22,53,41.1,58.4,45.2

In [168]:
population.columns = ['Years','Total Population Growth * (Per Cent)', 'Total Population * (Number)' , 'Singapore Citizen Population* (Number)', 'Sex Ratio * (Males Per Thousand Females)', 'Resident Population Growth * (Per Cent)', 
                      'Resident Population *(Number)', 'Resident Natural Increase * (Number)', 'Rate Of Natural Increase * (Per Thousand Residents)', 'Population Density * (Total Population Per Square Kilometre)', 
                      'Permanent Resident Population * (Number)', 'Old-Age Support Ratio: Residents Aged 20-64 Years * (Per Resident Aged 65 Years & Over)', 'Old-Age Support Ratio: Residents Aged 15-64 Years * (Per Resident Aged 65 Years & Over)', 
                      'Old-Age Support Ratio: Citizens Aged 20-64 Years * (Per Citizen Aged 65 Years & Over)', 'Old-Age Support Ratio: Citizens Aged 15-64 Years * (Per Citizen Aged 65 Years & Over)', 
                      'Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)', 'Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 15-64 Years)', 
                      'Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)','Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)', 
                      'Non-Resident Population * (Number)', 'Median Age Of Resident Population * (Years)', 'Median Age Of Citizen Population * (Years)', 'Child Dependency Ratio: Residents Aged Under 20 Years * (Per Hundred Residents Aged 20-64 Years)', 
                      'Child Dependency Ratio: Residents Aged Under 15 Years * (Per Hundred Residents Aged 15-64 Years)', 'Child Dependency Ratio: Citizens Aged Under 20 Years * (Per Hundred Citizens Aged 20-64 Years)', 
                      'Child Dependency Ratio: Citizens Aged Under 15 Years * (Per Hundred Citizens Aged 15-64 Years)', 'Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)', 
                      'Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years * (Per Hundred Residents Aged 15-64 Years)', 'Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)',
                      'Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)']

In [169]:
population.columns

Index(['Years', 'Total Population Growth * (Per Cent)', 'Total Population * (Number)', 'Singapore Citizen Population* (Number)', 'Sex Ratio * (Males Per Thousand Females)', 'Resident Population Growth * (Per Cent)', 'Resident Population *(Number)', 'Resident Natural Increase * (Number)', 'Rate Of Natural Increase * (Per Thousand Residents)', 'Population Density * (Total Population Per Square Kilometre)', 'Permanent Resident Population * (Number)', 'Old-Age Support Ratio: Residents Aged 20-64 Years * (Per Resident Aged 65 Years & Over)', 'Old-Age Support Ratio: Residents Aged 15-64 Years * (Per Resident Aged 65 Years & Over)', 'Old-Age Support Ratio: Citizens Aged 20-64 Years * (Per Citizen Aged 65 Years & Over)', 'Old-Age Support Ratio: Citizens Aged 15-64 Years * (Per Citizen Aged 65 Years & Over)', 'Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)',
       'Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 15-64 Years)', 'Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)', 'Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)', 'Non-Resident Population * (Number)', 'Median Age Of Resident Population * (Years)', 'Median Age Of Citizen Population * (Years)', 'Child Dependency Ratio: Residents Aged Under 20 Years * (Per Hundred Residents Aged 20-64 Years)', 'Child Dependency Ratio: Residents Aged Under 15 Years * (Per Hundred Residents Aged 15-64 Years)', 'Child Dependency Ratio: Citizens Aged Under 20 Years * (Per Hundred Citizens Aged 20-64 Years)', 'Child Dependency Ratio: Citizens Aged Under 15 Years * (Per Hundred Citizens Aged 15-64 Years)', 'Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)',
       'Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years * (Per Hundred Residents Aged 15-64 Years)', 'Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)', 'Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)'],
      dtype='object')

In [170]:
population.isnull().sum()

Years                                                                                                                 0
Total Population Growth * (Per Cent)                                                                                  0
Total Population * (Number)                                                                                           0
Singapore Citizen Population* (Number)                                                                                0
Sex Ratio * (Males Per Thousand Females)                                                                              0
Resident Population Growth * (Per Cent)                                                                               0
Resident Population *(Number)                                                                                         0
Resident Natural Increase * (Number)                                                                                  0
Rate Of Natural Increase * (Per Thousand Residents)                                                                   0
Population Density * (Total Population Per Square Kilometre)                                                          0
Permanent Resident Population * (Number)                                                                              0
Old-Age Support Ratio: Residents Aged 20-64 Years * (Per Resident Aged 65 Years & Over)                               0
Old-Age Support Ratio: Residents Aged 15-64 Years * (Per Resident Aged 65 Years & Over)                               0
Old-Age Support Ratio: Citizens Aged 20-64 Years * (Per Citizen Aged 65 Years & Over)                                 0
Old-Age Support Ratio: Citizens Aged 15-64 Years * (Per Citizen Aged 65 Years & Over)                                 0
Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)                   0
Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 15-64 Years)                   0
Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)                     0
Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)                     0
Non-Resident Population * (Number)                                                                                    0
Median Age Of Resident Population * (Years)                                                                           0
Median Age Of Citizen Population * (Years)                                                                            0
Child Dependency Ratio: Residents Aged Under 20 Years * (Per Hundred Residents Aged 20-64 Years)                      0
Child Dependency Ratio: Residents Aged Under 15 Years * (Per Hundred Residents Aged 15-64 Years)                      0
Child Dependency Ratio: Citizens Aged Under 20 Years * (Per Hundred Citizens Aged 20-64 Years)                        0
Child Dependency Ratio: Citizens Aged Under 15 Years * (Per Hundred Citizens Aged 15-64 Years)                        0
Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)    0
Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years * (Per Hundred Residents Aged 15-64 Years)           0
Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)      0
Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)      0
dtype: int64

In [171]:
population.to_csv('cleaned_population_structure.csv')

In [172]:
#DIVORCE RATE
url_divorce_rate = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/divorce_rates.csv"
divorce_rate = load_data(url_divorce_rate)
divorce_rate.head(5)

   Data Series  Male General Divorce Rate   Male General Divorce Rate -> 20 - 24 Years   Male General Divorce Rate -> 25 - 29 Years   Male General Divorce Rate -> 30 - 34 Years   Male General Divorce Rate -> 35 - 39 Years   Male General Divorce Rate -> 40 - 44 Years   Male General Divorce Rate -> 45 - 49 Years   Male General Divorce Rate -> 50 Years And Over   Female General Divorce Rate   Female General Divorce Rate -> 20 - 24 Years   Female General Divorce Rate -> 25 - 29 Years   Female General Divorce Rate -> 30 - 34 Years   Female General Divorce Rate -> 35 - 39 Years   Female General Divorce Rate -> 40 - 44 Years   Female General Divorce Rate -> 45 - 49 Years   Female General Divorce Rate -> 50 Years And Over   Crude Divorce Rate
0         2022                         6.2                                         17.0                                         13.7                                          9.9                                         10.5                                          9.4                                          8.0                                              3.6                           5.9                                           22.3                                           12.2                                           10.2                                            9.7                                            8.1                                            7.0                                                2.7                  1.7
1         2021                         7.2                                         25.3                                         16.1                                         13.2                                         12.9                                         10.7                                          9.0                                              4.0                           6.9                                           25.5                                           15.1                                           13.2                                           11.8                                            9.6                                            8.1                                                2.9                  1.9
2         2020                         6.3                                         25.9                                         14.6                                         12.1                                         11.8                                          9.4                                          7.9                                              3.2                           6.1                                           27.5                                           14.0                                           12.1                                           10.0                                            8.1                                            6.5                                                2.4                  1.7
3         2019                         6.9                                         30.6                                         16.0                                         12.6                                         11.6                                          9.9                                          8.5                                              3.7                           6.5                                           30.0                                           15.3                                           11.7                                           10.8                                            8.6                                            6.9                                                2.7                  1.9
4         2018                         6.7                                         28.6                                         15.6                                         12.1                                         11.8                                          9.7                                          8.5                                              3.4                           6.3                                           27.7                                           14.7                                           11.8                                           10.2                                            8.2                                            6.5                                                2.4                  1.8

In [173]:

cleaned_div_r = clean_null_values(divorce_rate)
cleaned_div_r.head(3)

No null values found.

   Data Series  Male General Divorce Rate   Male General Divorce Rate -> 20 - 24 Years   Male General Divorce Rate -> 25 - 29 Years   Male General Divorce Rate -> 30 - 34 Years   Male General Divorce Rate -> 35 - 39 Years   Male General Divorce Rate -> 40 - 44 Years   Male General Divorce Rate -> 45 - 49 Years   Male General Divorce Rate -> 50 Years And Over   Female General Divorce Rate   Female General Divorce Rate -> 20 - 24 Years   Female General Divorce Rate -> 25 - 29 Years   Female General Divorce Rate -> 30 - 34 Years   Female General Divorce Rate -> 35 - 39 Years   Female General Divorce Rate -> 40 - 44 Years   Female General Divorce Rate -> 45 - 49 Years   Female General Divorce Rate -> 50 Years And Over   Crude Divorce Rate
0         2022                         6.2                                         17.0                                         13.7                                          9.9                                         10.5                                          9.4                                          8.0                                              3.6                           5.9                                           22.3                                           12.2                                           10.2                                            9.7                                            8.1                                            7.0                                                2.7                  1.7
1         2021                         7.2                                         25.3                                         16.1                                         13.2                                         12.9                                         10.7                                          9.0                                              4.0                           6.9                                           25.5                                           15.1                                           13.2                                           11.8                                            9.6                                            8.1                                                2.9                  1.9
2         2020                         6.3                                         25.9                                         14.6                                         12.1                                         11.8                                          9.4                                          7.9                                              3.2                           6.1                                           27.5                                           14.0                                           12.1                                           10.0                                            8.1                                            6.5                                                2.4                  1.7

In [174]:
cleaned_div_r.columns = ['Years', 'Male General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)', '20 - 24 Years (Per 1,000 Married Resident Males)', '25 - 29 Years (Per 1,000 Married Resident Males)', 
                         '30 - 34 Years (Per 1,000 Married Resident Males)', '35 - 39 Years (Per 1,000 Married Resident Males)', '40 - 44 Years (Per 1,000 Married Resident Males)', 
                         '45 - 49 Years (Per 1,000 Married Resident Males)', '50 Years And Over (Per 1,000 Married Resident Males)', 'Female General Divorce Rate *  (Per 1,000 Married Resident Aged 20 Years & Over)', 
                         '20 - 24 Years (Per 1,000 Married Resident Females)', '25 - 29 Years (Per 1,000 Married Resident Females)', '30 - 34 Years (Per 1,000 Married Resident Females)',
                           '35 - 39 Years (Per 1,000 Married Resident Females)', '40 - 44 Years (Per 1,000 Married Resident Females)', '45 - 49 Years (Per 1,000 Married Resident Females)', 
                           '50 Years And Over (Per 1,000 Married Resident Females)', 'Crude Divorce Rate * (Per 1,000 Residents)']
cleaned_div_r.head(4)

   Years  Male General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)  20 - 24 Years (Per 1,000 Married Resident Males)  25 - 29 Years (Per 1,000 Married Resident Males)  30 - 34 Years (Per 1,000 Married Resident Males)  35 - 39 Years (Per 1,000 Married Resident Males)  40 - 44 Years (Per 1,000 Married Resident Males)  45 - 49 Years (Per 1,000 Married Resident Males)  50 Years And Over (Per 1,000 Married Resident Males)  Female General Divorce Rate *  (Per 1,000 Married Resident Aged 20 Years & Over)  20 - 24 Years (Per 1,000 Married Resident Females)  25 - 29 Years (Per 1,000 Married Resident Females)  30 - 34 Years (Per 1,000 Married Resident Females)  35 - 39 Years (Per 1,000 Married Resident Females)  40 - 44 Years (Per 1,000 Married Resident Females)  45 - 49 Years (Per 1,000 Married Resident Females)  50 Years And Over (Per 1,000 Married Resident Females)  Crude Divorce Rate * (Per 1,000 Residents)
0   2022                                                6.2                                                                          17.0                                              13.7                                               9.9                                              10.5                                               9.4                                               8.0                                                3.6                                                   5.9                                                                              22.3                                                12.2                                                10.2                                                 9.7                                                 8.1                                                 7.0                                                 2.7                                              1.7
1   2021                                                7.2                                                                          25.3                                              16.1                                              13.2                                              12.9                                              10.7                                               9.0                                                4.0                                                   6.9                                                                              25.5                                                15.1                                                13.2                                                11.8                                                 9.6                                                 8.1                                                 2.9                                              1.9
2   2020                                                6.3                                                                          25.9                                              14.6                                              12.1                                              11.8                                               9.4                                               7.9                                                3.2                                                   6.1                                                                              27.5                                                14.0                                                12.1                                                10.0                                                 8.1                                                 6.5                                                 2.4                                              1.7
3   2019                                                6.9                                                                          30.6                                              16.0                                              12.6                                              11.6                                               9.9                                               8.5                                                3.7                                                   6.5                                                                              30.0                                                15.3                                                11.7                                                10.8                                                 8.6                                                 6.9                                                 2.7                                              1.9

In [175]:
cleaned_div_r.to_csv('cleaned_divorce_rate.csv')

In [176]:
#MARRIAGE RATE BY AGE GROUP

url_marr_rate = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/Marriage_rates_by_age_group.csv"
mar_rate = load_data(url_marr_rate)
mar_rate.head(5)

,Data Series,Male General Marriage Rate,Male General Marriage Rate -> 15 - 19 Years,Male General Marriage Rate -> 20 - 24 Years,Male General Marriage Rate -> 25 - 29 Years,Male General Marriage Rate -> 30 - 34 Years,Male General Marriage Rate -> 35 - 39 Years,Male General Marriage Rate -> 40 - 44 Years,Male General Marriage Rate -> 45 - 49 Years,Male General Marriage Rate -> 50 - 54 Years,Male General Marriage Rate -> 55 - 59 Years,Male General Marriage Rate -> 60 - 64 Years,Male General Marriage Rate -> 65 Years & Over,Female General Marriage Rate,Female General Marriage Rate -> 15 - 19 Years,Female General Marriage Rate -> 20 - 24 Years,Female General Marriage Rate -> 25 - 29 Years,Female General Marriage Rate -> 30 - 34 Years,Female General Marriage Rate -> 35 - 39 Years,Female General Marriage Rate -> 40 - 44 Years,Female General Marriage Rate -> 45 - 49 Years,Female General Marriage Rate -> 50 - 54 Years,Female General Marriage Rate -> 55 - 59 Years,Female General Marriage Rate -> 60 - 64 Years,Female General Marriage Rate -> 65 Years & Over,Crude Marriage Rate
0,2022,47.0,0.4,8.2,72.1,132.5,87.1,50.5,31.8,25.0,16.7,11.1,4.3,45.5,1.2,17.6,99.7,117.4,56.0,22.5,12.9,7.6,3.9,1.9,0.4,6.7
1,2021,45.3,0.3,8.6,72.2,120.6,81.0,47.8,27.0,16.1,11.3,7.1,2.9,44.2,1.1,18.8,100.9,106.4,49.0,19.2,9.5,6.8,2.8,1.7,0.3,6.5
2,2020,35.7,0.4,7.9,59.1,97.3,65.0,36.9,23.2,14.9,9.5,6.0,2.6,34.9,1.2,16.7,79.9,81.6,39.9,17.3,9.1,5.6,2.6,1.3,0.2,5.2
3,2019,40.7,0.5,7.9,65.8,109.8,90.3,53.4,33.1,20.6,15.8,11.4,4.1,37.9,1.2,16.4,88.6,95.5,46.8,21.4,11.0,6.5,3.4,1.5,0.3,5.9
4,2018,43.3,0.3,9.0,74.6,120.3,91.7,52.3,33.3,22.2,15.9,10.7,3.8,40.8,1.2,18.4,99.8,100.0,48.0,22.0,12.1,6.3,2.8,1.5,0.2,6.4

In [177]:
mar_rate.columns = ['Years', 'Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Males)', 
                    '20 - 24 Years (Per 1,000 Unmarried Resident Males)', '25 - 29 Years (Per 1,000 Unmarried Resident Males)', '30 - 34 Years (Per 1,000 Unmarried Resident Males)', 
                    '35 - 39 Years (Per 1,000 Unmarried Resident Males)', '40 - 44 Years (Per 1,000 Unmarried Resident Males)', '45 - 49 Years (Per 1,000 Unmarried Resident Males)', 
                    '50 - 54 Years (Per 1,000 Unmarried Resident Males)', '55 - 59 Years (Per 1,000 Unmarried Resident Males)', '60 - 64 Years (Per 1,000 Unmarried Resident Males)', 
                    '65 Years & Over (Per 1,000 Unmarried Resident Males)', 'Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Females)', 
                    '20 - 24 Years (Per 1,000 Unmarried Resident Females)', '25 - 29 Years (Per 1,000 Unmarried Resident Females)', '30 - 34 Years (Per 1,000 Unmarried Resident Females)', 
                    '35 - 39 Years (Per 1,000 Unmarried Resident Females)', '40 - 44 Years (Per 1,000 Unmarried Resident Females)', '45 - 49 Years (Per 1,000 Unmarried Resident Females)',
                    '50 - 54 Years (Per 1,000 Unmarried Resident Females)', '55 - 59 Years (Per 1,000 Unmarried Resident Females)', '60 - 64 Years (Per 1,000 Unmarried Resident Females)', 
                    '65 Years & Over (Per 1,000 Unmarried Resident Females)', 'Crude Marriage Rate * (Per 1,000 Residents)']

In [178]:
mar_rate.columns

Index(['Years', 'Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Males)', '20 - 24 Years (Per 1,000 Unmarried Resident Males)', '25 - 29 Years (Per 1,000 Unmarried Resident Males)', '30 - 34 Years (Per 1,000 Unmarried Resident Males)', '35 - 39 Years (Per 1,000 Unmarried Resident Males)', '40 - 44 Years (Per 1,000 Unmarried Resident Males)', '45 - 49 Years (Per 1,000 Unmarried Resident Males)', '50 - 54 Years (Per 1,000 Unmarried Resident Males)', '55 - 59 Years (Per 1,000 Unmarried Resident Males)', '60 - 64 Years (Per 1,000 Unmarried Resident Males)', '65 Years & Over (Per 1,000 Unmarried Resident Males)', 'Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Females)', '20 - 24 Years (Per 1,000 Unmarried Resident Females)', '25 - 29 Years (Per 1,000 Unmarried Resident Females)', '30 - 34 Years (Per 1,000 Unmarried Resident Females)',
       '35 - 39 Years (Per 1,000 Unmarried Resident Females)', '40 - 44 Years (Per 1,000 Unmarried Resident Females)', '45 - 49 Years (Per 1,000 Unmarried Resident Females)', '50 - 54 Years (Per 1,000 Unmarried Resident Females)', '55 - 59 Years (Per 1,000 Unmarried Resident Females)', '60 - 64 Years (Per 1,000 Unmarried Resident Females)', '65 Years & Over (Per 1,000 Unmarried Resident Females)', 'Crude Marriage Rate * (Per 1,000 Residents)'],
      dtype='object')

In [179]:
cleaned_mar_rate = clean_null_values(mar_rate)
cleaned_mar_rate.head(5)

No null values found.

,Years,"Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)","15 - 19 Years (Per 1,000 Unmarried Resident Males)","20 - 24 Years (Per 1,000 Unmarried Resident Males)","25 - 29 Years (Per 1,000 Unmarried Resident Males)","30 - 34 Years (Per 1,000 Unmarried Resident Males)","35 - 39 Years (Per 1,000 Unmarried Resident Males)","40 - 44 Years (Per 1,000 Unmarried Resident Males)","45 - 49 Years (Per 1,000 Unmarried Resident Males)","50 - 54 Years (Per 1,000 Unmarried Resident Males)","55 - 59 Years (Per 1,000 Unmarried Resident Males)","60 - 64 Years (Per 1,000 Unmarried Resident Males)","65 Years & Over (Per 1,000 Unmarried Resident Males)","Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)","15 - 19 Years (Per 1,000 Unmarried Resident Females)","20 - 24 Years (Per 1,000 Unmarried Resident Females)","25 - 29 Years (Per 1,000 Unmarried Resident Females)","30 - 34 Years (Per 1,000 Unmarried Resident Females)","35 - 39 Years (Per 1,000 Unmarried Resident Females)","40 - 44 Years (Per 1,000 Unmarried Resident Females)","45 - 49 Years (Per 1,000 Unmarried Resident Females)","50 - 54 Years (Per 1,000 Unmarried Resident Females)","55 - 59 Years (Per 1,000 Unmarried Resident Females)","60 - 64 Years (Per 1,000 Unmarried Resident Females)","65 Years & Over (Per 1,000 Unmarried Resident Females)","Crude Marriage Rate * (Per 1,000 Residents)"
0,2022,47.0,0.4,8.2,72.1,132.5,87.1,50.5,31.8,25.0,16.7,11.1,4.3,45.5,1.2,17.6,99.7,117.4,56.0,22.5,12.9,7.6,3.9,1.9,0.4,6.7
1,2021,45.3,0.3,8.6,72.2,120.6,81.0,47.8,27.0,16.1,11.3,7.1,2.9,44.2,1.1,18.8,100.9,106.4,49.0,19.2,9.5,6.8,2.8,1.7,0.3,6.5
2,2020,35.7,0.4,7.9,59.1,97.3,65.0,36.9,23.2,14.9,9.5,6.0,2.6,34.9,1.2,16.7,79.9,81.6,39.9,17.3,9.1,5.6,2.6,1.3,0.2,5.2
3,2019,40.7,0.5,7.9,65.8,109.8,90.3,53.4,33.1,20.6,15.8,11.4,4.1,37.9,1.2,16.4,88.6,95.5,46.8,21.4,11.0,6.5,3.4,1.5,0.3,5.9
4,2018,43.3,0.3,9.0,74.6,120.3,91.7,52.3,33.3,22.2,15.9,10.7,3.8,40.8,1.2,18.4,99.8,100.0,48.0,22.0,12.1,6.3,2.8,1.5,0.2,6.4

In [180]:
cleaned_mar_rate.to_csv('cleaned_marriage_rate.csv')

In [181]:
#KEY INDICATORS ON THE MARRIAGES

url_marr_key = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/Key%20Indicators%20On%20Marriages.csv"
mar_k = load_data(url_marr_key)
mar_k.head(5)

   Data Series  Total Marriages  Total Marriages -> First Marriages  Total Marriages -> Remarriages  Total Marriages -> Remarriages -> Remarriages - One Partner  Total Marriages -> Remarriages -> Remarriages - Both Partners  Resident Marriages  Proportion Of First Marriages - Grooms  Proportion Of First Marriages - Brides  Proportion Of Grooms Aged Below 21 Years  Proportion Of Grooms Aged Below 21 Years -> Under The Women's Charter  Proportion Of Grooms Aged Below 21 Years -> Under The Administration Of Muslim Law Act  Proportion Of Brides Aged Below 21 Years  Proportion Of Brides Aged Below 21 Years -> Under The Women's Charter  Proportion Of Brides Aged Below 21 Years -> Under The Administration Of Muslim Law Act  Proportion Of Inter-Ethnic Marriages
0         2022             29389                               23112                            6277                                               3880                                                         2397                           27237                                    84.6                                    85.8                                       0.3                                                0.1                                                                      1                                                                            0.8                                                0.3                                                                    2.6                                                                       16.6
1         2021             28329                               22808                            5521                                               3568                                                         1953                           26006                                    86.5                                    87.1                                       0.3                                                0.1                                                                    0.8                                                                            0.8                                                0.3                                                                    2.3                                                                       15.3
2         2020             22651                               17789                            4862                                               3104                                                         1758                           20981                                    85.2                                    85.5                                       0.4                                                0.2                                                                    0.9                                                                              1                                                0.6                                                                    2.5                                                                       16.9
3         2019             25434                               19356                            6078                                               3854                                                         2224                           23878                                    82.9                                    84.5                                       0.4                                                0.2                                                                      1                                                                            0.9                                                0.4                                                                    2.6                                                                       18.4
4         2018             27007                               20822                            6185                                               3976                                                         2209                           25392                                    83.6                                    85.3                                       0.3                                                0.2                                                                    0.7                                                                              1                                                0.5                                                                    2.7                                                                         18

In [182]:
mar_k.columns = ["Years", "Total Marriages * (Number)", "First Marriages*(Number)", "Remarriages*(Number)", 
                 "Remarriages - One Partner*(Number)", "Remarriages - Both Partners*(Number)", 
                 "Resident Marriages*(Number)", "Proportion Of First Marriages - Grooms*(Per Cent)", "Proportion Of First Marriages - Brides*(Per Cent)", "Proportion Of Grooms Aged Below 21 Years (Per Cent)", 
                 "Proportion Of Grooms Aged Below 21 Years (Under The Women's Charter)  (Per Cent)", "Proportion Of Grooms Aged Below 21 Years (Under The Administration Of Muslim Law Act) (Per Cent)",
                   "Proportion Of Brides Aged Below 21 Years (Per Cent)", "Proportion Of Brides Aged Below 21 Years (Under The Women's Charter) (Per Cent)", 
                   "Proportion Of Brides Aged Below 21 Years (Under The Administration Of Muslim Law Act) (Per Cent)", "Proportion Of Inter-Ethnic Marriages (Per Cent)"]

In [183]:
cleaned_mar_key = clean_null_values(mar_k)
cleaned_mar_key.head(5)

No null values found.

   Years  Total Marriages * (Number) First Marriages*(Number) Remarriages*(Number) Remarriages - One Partner*(Number) Remarriages - Both Partners*(Number) Resident Marriages*(Number) Proportion Of First Marriages - Grooms*(Per Cent) Proportion Of First Marriages - Brides*(Per Cent) Proportion Of Grooms Aged Below 21 Years (Per Cent) Proportion Of Grooms Aged Below 21 Years (Under The Women's Charter)  (Per Cent) Proportion Of Grooms Aged Below 21 Years (Under The Administration Of Muslim Law Act) (Per Cent) Proportion Of Brides Aged Below 21 Years (Per Cent) Proportion Of Brides Aged Below 21 Years (Under The Women's Charter) (Per Cent) Proportion Of Brides Aged Below 21 Years (Under The Administration Of Muslim Law Act) (Per Cent) Proportion Of Inter-Ethnic Marriages (Per Cent)
0   2022                       29389                    23112                 6277                               3880                                 2397                       27237                                              84.6                                              85.8                                                0.3                                                 0.1                                                                                1                                                                                              0.8                                                 0.3                                                                             2.6                                                                                          16.6
1   2021                       28329                    22808                 5521                               3568                                 1953                       26006                                              86.5                                              87.1                                                0.3                                                 0.1                                                                              0.8                                                                                              0.8                                                 0.3                                                                             2.3                                                                                          15.3
2   2020                       22651                    17789                 4862                               3104                                 1758                       20981                                              85.2                                              85.5                                                0.4                                                 0.2                                                                              0.9                                                                                                1                                                 0.6                                                                             2.5                                                                                          16.9
3   2019                       25434                    19356                 6078                               3854                                 2224                       23878                                              82.9                                              84.5                                                0.4                                                 0.2                                                                                1                                                                                              0.9                                                 0.4                                                                             2.6                                                                                          18.4
4   2018                       27007                    20822                 6185                               3976                                 2209                       25392                                              83.6                                              85.3                                                0.3                                                 0.2                                                                              0.7                                                                                                1                                                 0.5                                                                             2.7                                                                                            18

In [184]:
cleaned_mar_key.to_csv('cleaned_marriage_key_indicators.csv')

In [185]:
#KEY INDICATORS ON THE DIVORCES


url_div_key = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/Key%20Indicators%20On%20Divorces.csv"
div_k = load_data(url_div_key)
div_k.head(5)

   Data Series  Total Divorces And Annulments   Total Divorces And Annulments -> Total Divorces   Total Divorces And Annulments -> Total Divorces -> Divorces Under The Women's Charter   Total Divorces And Annulments -> Total Divorces -> Divorces Under The Administration Of Muslim Law Act   Total Divorces And Annulments -> Annulments Under The Women's Charter   Median Age Of Male Divorcees   Median Age Of Male Divorcees -> Under The Women's Charter   Median Age Of Male Divorcees -> Under The Administration Of Muslim Law Act   Median Age Of Female Divorcees   Median Age Of Female Divorcees -> Under The Women's Charter   Median Age Of Female Divorcees -> Under The Administration Of Muslim Law Act   Median Duration Of Marriage For Divorces   Median Duration Of Marriage For Divorces -> Under The Women's Charter   Median Duration Of Marriage For Divorces -> Under The Administration Of Muslim Law Act   Median Duration Of Marriage For Annulments Under The Women's Charter
0         2022                            7107                                              6922                                               5417                                                                                    1505                                                                                                      185                                                44.4                                               45.3                                                        40.6                                                       40.5                                               41.1                                                          38.0                                                                   10.9                                               11.8                                                                     8.1                                                                                      1.9
1         2021                            7890                                              7674                                               5907                                                                                    1767                                                                                                      216                                                43.9                                               44.8                                                        40.4                                                       40.0                                               40.7                                                          37.5                                                                   10.7                                               11.6                                                                     8.1                                                                                      2.1
2         2020                            6959                                              6708                                               5110                                                                                    1598                                                                                                      251                                                43.2                                               44.0                                                        39.6                                                       39.5                                               40.2                                                          37.0                                                                   10.4                                               11.0                                                                     8.1                                                                                      2.2
3         2019                            7623                                              7330                                               5633                                                                                    1697                                                                                                      293                                                43.4                                               44.0                                                        40.6                                                       39.3                                               39.8                                                          37.7                                                                   10.4                                               11.0                                                                     8.4                                                                                      1.9
4         2018                            7344                                              6990                                               5308                                                                                    1682                                                                                                      354                                                43.2                                               44.0                                                        40.3                                                       38.9                                               39.5                                                          36.9                                                                   10.2                                               10.7                                                                     8.5                                                                                      1.9

In [186]:
div_k.columns = ["Years", "Total Divorces And Annulments (Number)", "Total Divorces (Number)", 
                 "Divorces Under The Women's Charter (Number)", 
                 "Divorces Under The Administration Of Muslim Law Act (Number)", 
                 "Annulments Under The Women's Charter (Number)", "Median Age Of Male Divorcees (Years)", 
                 "Median Age Of Male Divorcees (Under The Women's Charter) (Years)", "Median Age Of Male Divorcees (Under The Administration Of Muslim Law Act) (Years)", 
                 "Median Age Of Female Divorcees (Years)", "Median Age Of Female Divorcees (Under The Women's Charter) (Years)", 
                 "Median Age Of Female Divorcees (Under The Administration Of Muslim Law Act) (Years)", "Median Duration Of Marriage For Divorces (Years)", 
                 "Median Duration Of Marriage For Divorces (Under The Women's Charter) (Years)", "Median Duration Of Marriage For Divorces (Under The Administration Of Muslim Law Act) (Years)",
       "Median Duration Of Marriage For Annulments Under The Women's Charter (Years)"]

In [187]:
cleaned_div_key = clean_null_values(div_k)
cleaned_div_key.head(5)

No null values found.

   Years  Total Divorces And Annulments (Number)  Total Divorces (Number)  Divorces Under The Women's Charter (Number)  Divorces Under The Administration Of Muslim Law Act (Number)  Annulments Under The Women's Charter (Number)  Median Age Of Male Divorcees (Years)  Median Age Of Male Divorcees (Under The Women's Charter) (Years)  Median Age Of Male Divorcees (Under The Administration Of Muslim Law Act) (Years)  Median Age Of Female Divorcees (Years)  Median Age Of Female Divorcees (Under The Women's Charter) (Years)  Median Age Of Female Divorcees (Under The Administration Of Muslim Law Act) (Years)  Median Duration Of Marriage For Divorces (Years)  Median Duration Of Marriage For Divorces (Under The Women's Charter) (Years)  Median Duration Of Marriage For Divorces (Under The Administration Of Muslim Law Act) (Years)  Median Duration Of Marriage For Annulments Under The Women's Charter (Years)
0   2022                                    7107                     6922                                         5417                                               1505                                                       185                                  44.4                                               45.3                                                              40.6                                                                    40.5                                               41.1                                                                38.0                                                                                10.9                                               11.8                                                                           8.1                                                                                            1.9
1   2021                                    7890                     7674                                         5907                                               1767                                                       216                                  43.9                                               44.8                                                              40.4                                                                    40.0                                               40.7                                                                37.5                                                                                10.7                                               11.6                                                                           8.1                                                                                            2.1
2   2020                                    6959                     6708                                         5110                                               1598                                                       251                                  43.2                                               44.0                                                              39.6                                                                    39.5                                               40.2                                                                37.0                                                                                10.4                                               11.0                                                                           8.1                                                                                            2.2
3   2019                                    7623                     7330                                         5633                                               1697                                                       293                                  43.4                                               44.0                                                              40.6                                                                    39.3                                               39.8                                                                37.7                                                                                10.4                                               11.0                                                                           8.4                                                                                            1.9
4   2018                                    7344                     6990                                         5308                                               1682                                                       354                                  43.2                                               44.0                                                              40.3                                                                    38.9                                               39.5                                                                36.9                                                                                10.2                                               10.7                                                                           8.5                                                                                            1.9

In [188]:
cleaned_div_key.to_csv('cleaned_divorce_key_indicators.csv')

In [189]:
######  WOMAN'S CHARTER
#AGE GROUP AND SEX OF DIVORCEES

#Raw data

url_age_gr_sex_of_div = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/Women's%20Charter%20By%20Age%20Group%20And%20Sex%20Of%20Divorcees.csv"
age_gr_sex_of_div = load_data(url_age_gr_sex_of_div)
age_gr_sex_of_div.head(5)

   Data Series  Total Male Divorcees   Total Male Divorcees -> Under 25   Total Male Divorcees -> 25-29   Total Male Divorcees -> 30-34   Total Male Divorcees -> 35-39   Total Male Divorcees -> 40-44   Total Male Divorcees -> 45-49   Total Male Divorcees -> 50-54   Total Male Divorcees -> 55-59   Total Male Divorcees -> 60 & Over   Total Male Divorcees -> Unknown Age   Total Female Divorcees   Total Female Divorcees -> Under 25   Total Female Divorcees -> 25-29   Total Female Divorcees -> 30-34   Total Female Divorcees -> 35-39   Total Female Divorcees -> 40-44   Total Female Divorcees -> 45-49   Total Female Divorcees -> 50-54   Total Female Divorcees -> 55-59   Total Female Divorcees -> 60 & Over   Total Female Divorcees -> Unknown Age   Median Age At Divorce (Males)   Median Age At Divorce (Females)
0         2022                   5417                                 12                             168                             653                             871                             946                             846                             691                             514                                 705                                    11                     5417                                   45                               354                               980                              1096                               934                               748                               566                               316                                   368                                      10                            45.3                              41.1
1         2021                   5907                                 19                             160                             726                            1071                            1004                             949                             685                             555                                 726                                    12                     5907                                   58                               366                              1126                              1260                              1017                               824                               525                               349                                   369                                      13                            44.8                              40.7
2         2020                   5110                                 14                             194                             637                             967                             905                             797                             553                             465                                 562                                    16                     5110                                   50                               417                               969                              1069                               894                               702                               427                               280                                   294                                       8                            44.0                              40.2
3         2019                   5633                                 31                             230                             667                            1052                             984                             877                             667                             508                                 600                                    17                     5633                                   68                               499                              1041                              1233                               974                               725                               507                               295                                   279                                      12                            44.0                              39.8
4         2018                   5308                                 27                             219                             598                            1054                             932                             863                             642                             452                                 508                                    13                     5308                                   78                               473                              1017                              1170                               933                               692                               434                               240                                   256                                      15                            44.0                              39.5

In [190]:
age_gr_sex_of_div.columns = ['Years', 'Total Male Divorcees (Number)', 'Under 25 (Number)', '25-29 (Number)', 
                             '30-34 (Number)', '35-39 (Number)', '40-44 (Number)', '45-49 (Number)', 
                             '50-54 (Number)', '55-59 (Number)', '60 & Over (Number)', 'Unknown Age (Number)', 
                             'Total Female Divorcees (Number)', 'Total Female Divorcees -> Under 25 (Number)', '25-29 (Number)', '30-34 (Number)', 
                             '35-39 (Number)', '40-44 (Number)', '45-49 (Number)', '50-54 (Number)', 
                             '55-59 (Number)', '60 & Over (Number)', 'Unknown Age (Number)', 'Median Age At Divorce (Males) (Number)', 
                             'Median Age At Divorce (Females) (Number)']

In [191]:
age_gr_sex_of_div.columns

Index(['Years', 'Total Male Divorcees (Number)', 'Under 25 (Number)', '25-29 (Number)', '30-34 (Number)', '35-39 (Number)', '40-44 (Number)', '45-49 (Number)', '50-54 (Number)', '55-59 (Number)', '60 & Over (Number)', 'Unknown Age (Number)', 'Total Female Divorcees (Number)', 'Total Female Divorcees -> Under 25 (Number)', '25-29 (Number)', '30-34 (Number)', '35-39 (Number)', '40-44 (Number)', '45-49 (Number)', '50-54 (Number)', '55-59 (Number)', '60 & Over (Number)', 'Unknown Age (Number)', 'Median Age At Divorce (Males) (Number)', 'Median Age At Divorce (Females) (Number)'], dtype='object')

In [192]:
cleaned_age_gr_sex_of_div = clean_null_values(age_gr_sex_of_div)
cleaned_age_gr_sex_of_div.head(5)

No null values found.

   Years  Total Male Divorcees (Number)  Under 25 (Number)  25-29 (Number)  30-34 (Number)  35-39 (Number)  40-44 (Number)  45-49 (Number)  50-54 (Number)  55-59 (Number)  60 & Over (Number)  Unknown Age (Number)  Total Female Divorcees (Number)  Total Female Divorcees -> Under 25 (Number)  25-29 (Number)  30-34 (Number)  35-39 (Number)  40-44 (Number)  45-49 (Number)  50-54 (Number)  55-59 (Number)  60 & Over (Number)  Unknown Age (Number)  Median Age At Divorce (Males) (Number)  Median Age At Divorce (Females) (Number)
0   2022                           5417                 12             168             653             871             946             846             691             514                 705                    11                             5417                                           45             354             980            1096             934             748             566             316                 368                    10                                    45.3                                      41.1
1   2021                           5907                 19             160             726            1071            1004             949             685             555                 726                    12                             5907                                           58             366            1126            1260            1017             824             525             349                 369                    13                                    44.8                                      40.7
2   2020                           5110                 14             194             637             967             905             797             553             465                 562                    16                             5110                                           50             417             969            1069             894             702             427             280                 294                     8                                    44.0                                      40.2
3   2019                           5633                 31             230             667            1052             984             877             667             508                 600                    17                             5633                                           68             499            1041            1233             974             725             507             295                 279                    12                                    44.0                                      39.8
4   2018                           5308                 27             219             598            1054             932             863             642             452                 508                    13                             5308                                           78             473            1017            1170             933             692             434             240                 256                    15                                    44.0                                      39.5

In [193]:
cleaned_age_gr_sex_of_div.to_csv('cleaned_age_grp_and_sex_of_divorcees.csv')

In [194]:
#Median age_of brides and grooms

#Raw data


url_med_age = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/Median%20age_of%20brides%20and%20grooms.csv"
med_age = load_data(url_med_age)
med_age.head(5)

   Data Series  Grooms - Total Marriages (Years)  Grooms - First Marriages (Years)  Grooms - Remarriages (Years)  Brides - Total Marriages (Years)  Brides - First Marriages (Years)  Brides - Remarriages (Years)
0         2022                              31.6                              30.7                          44.6                              29.9                              29.3                          39.3
1         2021                              31.2                              30.5                          42.4                              29.6                              29.1                          37.6
2         2020                              31.2                              30.4                          43.3                              29.4                              28.8                          38.0
3         2019                              31.4                              30.4                          44.2                              29.4                              28.8                          38.3
4         2018                              31.1                              30.2                          43.8                              29.1                              28.5                          37.9

In [195]:
med_age.columns = ['Years', 'Grooms - Total Marriages (Years)', 'Grooms - First Marriages (Years)', 'Grooms - Remarriages (Years)', 'Brides - Total Marriages (Years)', 'Brides - First Marriages (Years)', 'Brides - Remarriages (Years)']

In [196]:
cleaned_med_age = clean_null_values(med_age)
cleaned_med_age.head(5)

No null values found.

   Years  Grooms - Total Marriages (Years)  Grooms - First Marriages (Years)  Grooms - Remarriages (Years)  Brides - Total Marriages (Years)  Brides - First Marriages (Years)  Brides - Remarriages (Years)
0   2022                              31.6                              30.7                          44.6                              29.9                              29.3                          39.3
1   2021                              31.2                              30.5                          42.4                              29.6                              29.1                          37.6
2   2020                              31.2                              30.4                          43.3                              29.4                              28.8                          38.0
3   2019                              31.4                              30.4                          44.2                              29.4                              28.8                          38.3
4   2018                              31.1                              30.2                          43.8                              29.1                              28.5                          37.9

In [197]:
cleaned_med_age.to_csv('cleaned_median_age_of_bride_and_grooms.csv')

## Data Integration

In [244]:
#loading the cleaned data
u1 = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/cleaned_population_structure.csv"
pop_struct_df = load_data(u1) #loading cleaned population structure df
pop_struct_df.drop(columns='Unnamed: 0',inplace=True)

u2 = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/cleaned_marriage_key_indicators.csv"
mar_key_df = load_data(u2)
mar_key_df.drop(columns='Unnamed: 0',inplace=True)

u3 = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/cleaned_marriage_rate.csv"
marr_rate_by_age_grp = load_data(u3)
marr_rate_by_age_grp.drop(columns='Unnamed: 0',inplace=True)

u4 = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/cleaned_median_age_of_bride_and_grooms.csv"
med_age_bride_groom_ageGrp = load_data(u4)
med_age_bride_groom_ageGrp.drop(columns='Unnamed: 0',inplace=True)

u5 = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/cleaned_divorce_rate.csv"
div_rate_by_age_grp = load_data(u5)
div_rate_by_age_grp.drop(columns='Unnamed: 0',inplace=True)

u6 = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/cleaned_age_grp_and_sex_of_divorcees.csv"
age_grp_sex_ofDivorcee = load_data(u6)
age_grp_sex_ofDivorcee.drop(columns='Unnamed: 0',inplace=True)

u7 = "https://raw.githubusercontent.com/AnanyaThyagarajan/Divorce-Trends-of-Singaporeans/main/dataset/cleaned_divorce_key_indicators.csv"
divorce_key_indicator = load_data(u7)
divorce_key_indicator.drop(columns='Unnamed: 0',inplace=True)

In [245]:
#pop_struct_df.reset_index(inplace=True)
#pop_struct_df.drop(columns=['index','Unnamed: 0'],inplace=True)
#pop_struct_df.drop(columns='Unnamed: 0',inplace=True)
pop_struct_df.head(3)
#pop_struct_df.drop(columns=['level_0','index'],inplace=True)
pop_struct_df.head(3)
pop_struct_df.columns

Index(['Years', 'Total Population Growth * (Per Cent)', 'Total Population * (Number)', 'Singapore Citizen Population* (Number)', 'Sex Ratio * (Males Per Thousand Females)', 'Resident Population Growth * (Per Cent)', 'Resident Population *(Number)', 'Resident Natural Increase * (Number)', 'Rate Of Natural Increase * (Per Thousand Residents)', 'Population Density * (Total Population Per Square Kilometre)', 'Permanent Resident Population * (Number)', 'Old-Age Support Ratio: Residents Aged 20-64 Years * (Per Resident Aged 65 Years & Over)', 'Old-Age Support Ratio: Residents Aged 15-64 Years * (Per Resident Aged 65 Years & Over)', 'Old-Age Support Ratio: Citizens Aged 20-64 Years * (Per Citizen Aged 65 Years & Over)', 'Old-Age Support Ratio: Citizens Aged 15-64 Years * (Per Citizen Aged 65 Years & Over)', 'Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)',
       'Old-Age Dependency Ratio: Residents Aged 65 Years & Over * (Per Hundred Residents Aged 15-64 Years)', 'Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)', 'Old-Age Dependency Ratio: Citizens Aged 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)', 'Non-Resident Population * (Number)', 'Median Age Of Resident Population * (Years)', 'Median Age Of Citizen Population * (Years)', 'Child Dependency Ratio: Residents Aged Under 20 Years * (Per Hundred Residents Aged 20-64 Years)', 'Child Dependency Ratio: Residents Aged Under 15 Years * (Per Hundred Residents Aged 15-64 Years)', 'Child Dependency Ratio: Citizens Aged Under 20 Years * (Per Hundred Citizens Aged 20-64 Years)', 'Child Dependency Ratio: Citizens Aged Under 15 Years * (Per Hundred Citizens Aged 15-64 Years)', 'Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over * (Per Hundred Residents Aged 20-64 Years)',
       'Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years * (Per Hundred Residents Aged 15-64 Years)', 'Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over * (Per Hundred Citizens Aged 20-64 Years)', 'Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over * (Per Hundred Citizens Aged 15-64 Years)'],
      dtype='object')

In [246]:
#mar_key_df.drop(columns='Unnamed: 0',inplace=True)
mar_key_df.head(3)
mar_key_df.columns

Index(['Years', 'Total Marriages * (Number)', 'First Marriages*(Number)', 'Remarriages*(Number)', 'Remarriages - One Partner*(Number)', 'Remarriages - Both Partners*(Number)', 'Resident Marriages*(Number)', 'Proportion Of First Marriages - Grooms*(Per Cent)', 'Proportion Of First Marriages - Brides*(Per Cent)', 'Proportion Of Grooms Aged Below 21 Years (Per Cent)', 'Proportion Of Grooms Aged Below 21 Years (Under The Women's Charter)  (Per Cent)', 'Proportion Of Grooms Aged Below 21 Years (Under The Administration Of Muslim Law Act) (Per Cent)', 'Proportion Of Brides Aged Below 21 Years (Per Cent)', 'Proportion Of Brides Aged Below 21 Years (Under The Women's Charter) (Per Cent)', 'Proportion Of Brides Aged Below 21 Years (Under The Administration Of Muslim Law Act) (Per Cent)', 'Proportion Of Inter-Ethnic Marriages (Per Cent)'], dtype='object')

In [247]:
#Population structure and marriages

pop_struct_data = pop_struct_df[['Years','Total Population * (Number)','Median Age Of Resident Population * (Years)', 'Median Age Of Citizen Population * (Years)']]
pop_struct_data.head(3)
mar_key_data= mar_key_df[['Years', 'Total Marriages * (Number)']].loc[14:].copy()
mar_key_data.head(3)

#Merging two dataframe

pop_struct_mar_key = pd.merge(pop_struct_data,mar_key_data , how='inner', on= 'Years')
pop_struct_mar_key.head(3)
pop_struct_mar_key.to_csv('Data_Integrate_pop_struct_mar_key.csv')
pop_struct_mar_key.head(5)

   Years  Total Population * (Number) Median Age Of Resident Population * (Years) Median Age Of Citizen Population * (Years)  Total Marriages * (Number)
0   2008                      4839396                                        36.7                                       37.8                       24596
1   2007                      4588599                                        36.4                                       37.5                       23966
2   2006                      4401365                                        36.1                                         37                       23706
3   2005                      4265762                                        35.8                                       36.6                       22992
4   2004                      4166664                                        35.4                                       36.2                       22189

In [248]:
#marr_rate_by_age_grp.drop(columns='Unnamed: 0',inplace=True)

In [249]:
marr_rate_by_age_grp.columns = ['Years', 'Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Males)', 
                                '20 - 24 Years (Per 1,000 Unmarried Resident Males)', '25 - 29 Years (Per 1,000 Unmarried Resident Males)', 
                                '30 - 34 Years (Per 1,000 Unmarried Resident Males)', '35 - 39 Years (Per 1,000 Unmarried Resident Males)', 
                                '40 - 44 Years (Per 1,000 Unmarried Resident Males)', '45 - 49 Years (Per 1,000 Unmarried Resident Males)', 
                                '50 - 54 Years (Per 1,000 Unmarried Resident Males)', '55 - 59 Years (Per 1,000 Unmarried Resident Males)', 
                                '60 - 64 Years (Per 1,000 Unmarried Resident Males)', '65 Years & Over (Per 1,000 Unmarried Resident Males)', 
                                'Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Females)', 
                                '20 - 24 Years (Per 1,000 Unmarried Resident Females)', '25 - 29 Years (Per 1,000 Unmarried Resident Females)', 
                                '30 - 34 Years (Per 1,000 Unmarried Resident Females)',
       '35 - 39 Years (Per 1,000 Unmarried Resident Females)', '40 - 44 Years (Per 1,000 Unmarried Resident Females)', 
       '45 - 49 Years (Per 1,000 Unmarried Resident Females)', '50 - 54 Years (Per 1,000 Unmarried Resident Females)', 
       '55 - 59 Years (Per 1,000 Unmarried Resident Females)', '60 - 64 Years (Per 1,000 Unmarried Resident Females)', 
       '65 Years & Over (Per 1,000 Unmarried Resident Females)', 'Crude Marriage Rate * (Per 1,000 Residents)']

In [250]:
marr_rate_by_age_grp.head(5)

,Years,"Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)","15 - 19 Years (Per 1,000 Unmarried Resident Males)","20 - 24 Years (Per 1,000 Unmarried Resident Males)","25 - 29 Years (Per 1,000 Unmarried Resident Males)","30 - 34 Years (Per 1,000 Unmarried Resident Males)","35 - 39 Years (Per 1,000 Unmarried Resident Males)","40 - 44 Years (Per 1,000 Unmarried Resident Males)","45 - 49 Years (Per 1,000 Unmarried Resident Males)","50 - 54 Years (Per 1,000 Unmarried Resident Males)","55 - 59 Years (Per 1,000 Unmarried Resident Males)","60 - 64 Years (Per 1,000 Unmarried Resident Males)","65 Years & Over (Per 1,000 Unmarried Resident Males)","Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)","15 - 19 Years (Per 1,000 Unmarried Resident Females)","20 - 24 Years (Per 1,000 Unmarried Resident Females)","25 - 29 Years (Per 1,000 Unmarried Resident Females)","30 - 34 Years (Per 1,000 Unmarried Resident Females)","35 - 39 Years (Per 1,000 Unmarried Resident Females)","40 - 44 Years (Per 1,000 Unmarried Resident Females)","45 - 49 Years (Per 1,000 Unmarried Resident Females)","50 - 54 Years (Per 1,000 Unmarried Resident Females)","55 - 59 Years (Per 1,000 Unmarried Resident Females)","60 - 64 Years (Per 1,000 Unmarried Resident Females)","65 Years & Over (Per 1,000 Unmarried Resident Females)","Crude Marriage Rate * (Per 1,000 Residents)"
0,2022,47.0,0.4,8.2,72.1,132.5,87.1,50.5,31.8,25.0,16.7,11.1,4.3,45.5,1.2,17.6,99.7,117.4,56.0,22.5,12.9,7.6,3.9,1.9,0.4,6.7
1,2021,45.3,0.3,8.6,72.2,120.6,81.0,47.8,27.0,16.1,11.3,7.1,2.9,44.2,1.1,18.8,100.9,106.4,49.0,19.2,9.5,6.8,2.8,1.7,0.3,6.5
2,2020,35.7,0.4,7.9,59.1,97.3,65.0,36.9,23.2,14.9,9.5,6.0,2.6,34.9,1.2,16.7,79.9,81.6,39.9,17.3,9.1,5.6,2.6,1.3,0.2,5.2
3,2019,40.7,0.5,7.9,65.8,109.8,90.3,53.4,33.1,20.6,15.8,11.4,4.1,37.9,1.2,16.4,88.6,95.5,46.8,21.4,11.0,6.5,3.4,1.5,0.3,5.9
4,2018,43.3,0.3,9.0,74.6,120.3,91.7,52.3,33.3,22.2,15.9,10.7,3.8,40.8,1.2,18.4,99.8,100.0,48.0,22.0,12.1,6.3,2.8,1.5,0.2,6.4

In [251]:
# Marriage rates by age group



marr_rate_by_age_grp.head(5)
# SPLITTING THE DATAFRAME

# For Millennials:
mil_df = marr_rate_by_age_grp[['Years', 'Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Males)', 
                               '20 - 24 Years (Per 1,000 Unmarried Resident Males)', '25 - 29 Years (Per 1,000 Unmarried Resident Males)', 
                               '30 - 34 Years (Per 1,000 Unmarried Resident Males)', '35 - 39 Years (Per 1,000 Unmarried Resident Males)',
                               'Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)', '15 - 19 Years (Per 1,000 Unmarried Resident Females)', 
                               '20 - 24 Years (Per 1,000 Unmarried Resident Females)', '25 - 29 Years (Per 1,000 Unmarried Resident Females)',
                               '30 - 34 Years (Per 1,000 Unmarried Resident Females)', '35 - 39 Years (Per 1,000 Unmarried Resident Females)']].loc[19:].copy()

mil_df.to_csv('Millennial_marriage_rates_by_age_grp.csv')
mil_df.head(5)
mill_mar_rate = mil_df.copy()
# Total marriage rate of male and female
tot_mar_rate = mill_mar_rate[['Years', 'Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)','Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)']].copy()
tot_mar_rate.head(5)

# Marriage rate of Millennials-Males
mar_males_r = mill_mar_rate[['Years','15 - 19 Years (Per 1,000 Unmarried Resident Males)', '20 - 24 Years (Per 1,000 Unmarried Resident Males)', '25 - 29 Years (Per 1,000 Unmarried Resident Males)', '30 - 34 Years (Per 1,000 Unmarried Resident Males)', '35 - 39 Years (Per 1,000 Unmarried Resident Males)']].copy()
mar_males_r.head(5)

# Marriage rate of Millennials-Females
mar_females_r = mill_mar_rate[['Years','15 - 19 Years (Per 1,000 Unmarried Resident Females)', '20 - 24 Years (Per 1,000 Unmarried Resident Females)', '25 - 29 Years (Per 1,000 Unmarried Resident Females)', '30 - 34 Years (Per 1,000 Unmarried Resident Females)', '35 - 39 Years (Per 1,000 Unmarried Resident Females)']].copy()
mar_females_r.head(5)

# For Gen X:

genx_df = marr_rate_by_age_grp[['Years','Male General Marriage Rate * (Per 1,000 Unmarried Resident Males Aged 15-49)','40 - 44 Years (Per 1,000 Unmarried Resident Males)', '45 - 49 Years (Per 1,000 Unmarried Resident Males)', '50 - 54 Years (Per 1,000 Unmarried Resident Males)', '55 - 59 Years (Per 1,000 Unmarried Resident Males)', '60 - 64 Years (Per 1,000 Unmarried Resident Males)', '65 Years & Over (Per 1,000 Unmarried Resident Males)', 'Female General Marriage Rate * (Per 1,000 Unmarried Resident Females Aged 15-49)','40 - 44 Years (Per 1,000 Unmarried Resident Females)', '45 - 49 Years (Per 1,000 Unmarried Resident Females)', '50 - 54 Years (Per 1,000 Unmarried Resident Females)', '55 - 59 Years (Per 1,000 Unmarried Resident Females)', '60 - 64 Years (Per 1,000 Unmarried Resident Females)', '65 Years & Over (Per 1,000 Unmarried Resident Females)']].loc[19:].copy()
#genx_df.reset_index(inplace=True)
#genx_df.drop(columns='index',inplace=True)

genx_df.to_csv('GenX_marriage_rates_by_age_grp.csv')
genx_df.head(4)
gen_x_marriage_rate = genx_df.copy()
gen_x_marriage_rate.head(4)

# Marriage rate of Generation X -Males
genx_mar_males_r = gen_x_marriage_rate[['Years','40 - 44 Years (Per 1,000 Unmarried Resident Males)', '45 - 49 Years (Per 1,000 Unmarried Resident Males)', '50 - 54 Years (Per 1,000 Unmarried Resident Males)', '55 - 59 Years (Per 1,000 Unmarried Resident Males)', '60 - 64 Years (Per 1,000 Unmarried Resident Males)', '65 Years & Over (Per 1,000 Unmarried Resident Males)']].copy()
genx_mar_males_r.head(4)

# Marriage rate of Generation X -Females
genx_mar_females_r = gen_x_marriage_rate[['Years', '40 - 44 Years (Per 1,000 Unmarried Resident Females)', '45 - 49 Years (Per 1,000 Unmarried Resident Females)', '50 - 54 Years (Per 1,000 Unmarried Resident Females)', '55 - 59 Years (Per 1,000 Unmarried Resident Females)', '60 - 64 Years (Per 1,000 Unmarried Resident Females)', '65 Years & Over (Per 1,000 Unmarried Resident Females)']].copy()
genx_mar_females_r.head(5)

    Years  40 - 44 Years (Per 1,000 Unmarried Resident Females)  45 - 49 Years (Per 1,000 Unmarried Resident Females)  50 - 54 Years (Per 1,000 Unmarried Resident Females)  55 - 59 Years (Per 1,000 Unmarried Resident Females)  60 - 64 Years (Per 1,000 Unmarried Resident Females) 65 Years & Over (Per 1,000 Unmarried Resident Females)
19   2003                                               15.9                                                   8.9                                                   3.4                                                   2.1                                                   0.5                                                     0
20   2002                                               14.1                                                   7.9                                                   3.4                                                   2.2                                                   0.6                                                   0.1
21   2001                                               14.8                                                   7.4                                                   3.4                                                   1.8                                                   1.0                                                   0.1
22   2000                                               17.2                                                   8.2                                                   4.2                                                   1.6                                                   0.8                                                   0.2
23   1999                                               18.0                                                   9.7                                                   4.6                                                   1.7                                                   1.1                                                   0.1

In [252]:
med_age_bride_groom_ageGrp.columns

Index(['Years', 'Grooms - Total Marriages (Years)', 'Grooms - First Marriages (Years)', 'Grooms - Remarriages (Years)', 'Brides - Total Marriages (Years)', 'Brides - First Marriages (Years)', 'Brides - Remarriages (Years)'], dtype='object')

In [253]:
#Median age of the brides and grooms

med_age_bride_groom_ageGrp.head(4)

# SPLITTING THE DATAFRAME

# Creating dataframe with the Age of the groom and the bride considering the total marriages- irrespective of the type
tot_mar_age = med_age_bride_groom_ageGrp[['Years', 'Grooms - Total Marriages (Years)','Brides - Total Marriages (Years)']].loc[38:].copy() 
#tot_mar_age.reset_index(inplace=True)
#tot_mar_age.drop(columns='index',inplace=True)
tot_mar_age.head(5)

#Creating dataframe with the median age of the groom and bride with respect to their first and remarriage
med_age_marriage_df = med_age_bride_groom_ageGrp[['Years','Grooms - First Marriages (Years)', 'Grooms - Remarriages (Years)','Brides - First Marriages (Years)', 'Brides - Remarriages (Years)']].loc[38:].copy()
#med_age_marriage_df.reset_index(inplace=True)
#med_age_marriage_df.drop(columns='index',inplace=True)
med_age_marriage_df.head(5)

    Years  Grooms - First Marriages (Years)  Grooms - Remarriages (Years)  Brides - First Marriages (Years)  Brides - Remarriages (Years)
38   1984                              27.0                          36.4                              24.2                          31.7
39   1983                              27.0                          37.0                              23.9                          32.0
40   1982                              26.9                          36.9                              23.8                          32.1
41   1981                              26.8                          37.6                              23.7                          32.0
42   1980                              26.7                          37.8                              23.6                          32.4

In [254]:
# Divorce rates by age group

div_rate_by_age_grp.head(5)
div_rate_by_age_grp.columns = ['Years', 'Male General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)', '20 - 24 Years (Per 1,000 Married Resident Males)', 
                               '25 - 29 Years (Per 1,000 Married Resident Males)', '30 - 34 Years (Per 1,000 Married Resident Males)', 
                               '35 - 39 Years (Per 1,000 Married Resident Males)', '40 - 44 Years (Per 1,000 Married Resident Males)', 
                               '45 - 49 Years (Per 1,000 Married Resident Males)', '50 Years And Over (Per 1,000 Married Resident Males)', 
                               'Female General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)', '20 - 24 Years (Per 1,000 Married Resident Females)', 
                               '25 - 29 Years (Per 1,000 Married Resident Females)', '30 - 34 Years (Per 1,000 Married Resident Females)', 
                               '35 - 39 Years (Per 1,000 Married Resident Females)', '40 - 44 Years (Per 1,000 Married Resident Females)', 
                               '45 - 49 Years (Per 1,000 Married Resident Females)', '50 Years And Over (Per 1,000 Married Resident Females)', 
                               'Crude Divorce Rate * (Per 1,000 Residents)']

# SPLITTING THE DATAFRAME

# For Millennials : 


mil_div_df = div_rate_by_age_grp[['Years', 'Male General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)', '20 - 24 Years (Per 1,000 Married Resident Males)', 
                                  '25 - 29 Years (Per 1,000 Married Resident Males)', '30 - 34 Years (Per 1,000 Married Resident Males)', 
                                  '35 - 39 Years (Per 1,000 Married Resident Males)','Female General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)', 
                                  '20 - 24 Years (Per 1,000 Married Resident Females)', '25 - 29 Years (Per 1,000 Married Resident Females)', 
                                  '30 - 34 Years (Per 1,000 Married Resident Females)', '35 - 39 Years (Per 1,000 Married Resident Females)']].loc[19:].copy()
mil_div_df.head(5)
mil_div_df.to_csv('Millennials_divorce_rates_by_age_grp.csv')
millennials_divorce_rate = mil_div_df.copy()

# Total Divorce rate of male and female
mil_tot_div_rate= millennials_divorce_rate[['Years', 'Male General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)','Female General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)']].copy()
mil_tot_div_rate

# Divorce rate of Millennials-Males
mil_div_males_r = millennials_divorce_rate[['Years','20 - 24 Years (Per 1,000 Married Resident Males)', '25 - 29 Years (Per 1,000 Married Resident Males)', '30 - 34 Years (Per 1,000 Married Resident Males)', '35 - 39 Years (Per 1,000 Married Resident Males)']].copy()
mil_div_males_r

# Divorce rate of Millennials-Females
mil_div_females_r = millennials_divorce_rate[['Years','20 - 24 Years (Per 1,000 Married Resident Females)', '25 - 29 Years (Per 1,000 Married Resident Females)', '30 - 34 Years (Per 1,000 Married Resident Females)', '35 - 39 Years (Per 1,000 Married Resident Females)']].copy()
mil_div_females_r


# For Gen X:

genx_div_df = div_rate_by_age_grp[['Years', 'Male General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)','40 - 44 Years (Per 1,000 Married Resident Males)', '45 - 49 Years (Per 1,000 Married Resident Males)', '50 Years And Over (Per 1,000 Married Resident Males)', 'Female General Divorce Rate * (Per 1,000 Married Resident Aged 20 Years & Over)', '40 - 44 Years (Per 1,000 Married Resident Females)', '45 - 49 Years (Per 1,000 Married Resident Females)', '50 Years And Over (Per 1,000 Married Resident Females)']].loc[19:].copy()
#genx_df2.reset_index(inplace=True)
#genx_df2.drop(columns='index',inplace=True)
genx_div_df.head(5)
genx_div_df.to_csv('GenX_divorce_rates_by_age_grp.csv')
gen_x_divorce_rate = genx_div_df.copy()
gen_x_divorce_rate.head(5)

# Divorce rate of Gen X-Males
genx_div_males_r = gen_x_divorce_rate[['Years','40 - 44 Years (Per 1,000 Married Resident Males)', '45 - 49 Years (Per 1,000 Married Resident Males)', '50 Years And Over (Per 1,000 Married Resident Males)']].copy()
genx_div_males_r.head(4)

# Divorce rate of Gen X-Females
genx_div_females_r = gen_x_divorce_rate[['Years','40 - 44 Years (Per 1,000 Married Resident Females)', '45 - 49 Years (Per 1,000 Married Resident Females)', '50 Years And Over (Per 1,000 Married Resident Females)']].copy()
genx_div_females_r.head(4)

    Years  40 - 44 Years (Per 1,000 Married Resident Females)  45 - 49 Years (Per 1,000 Married Resident Females)  50 Years And Over (Per 1,000 Married Resident Females)
19   2003                                                7.0                                                 5.0                                                 2.5
20   2002                                                6.4                                                 4.7                                                 2.0
21   2001                                                5.6                                                 4.5                                                 1.9
22   2000                                                5.8                                                 4.6                                                 2.0

In [255]:
age_grp_sex_ofDivorcee.columns

Index(['Years', 'Total Male Divorcees (Number)', 'Under 25 (Number)', '25-29 (Number)', '30-34 (Number)', '35-39 (Number)', '40-44 (Number)', '45-49 (Number)', '50-54 (Number)', '55-59 (Number)', '60 & Over (Number)', 'Unknown Age (Number)', 'Total Female Divorcees (Number)', 'Total Female Divorcees -> Under 25 (Number)', '25-29 (Number).1', '30-34 (Number).1', '35-39 (Number).1', '40-44 (Number).1', '45-49 (Number).1', '50-54 (Number).1', '55-59 (Number).1', '60 & Over (Number).1', 'Unknown Age (Number).1', 'Median Age At Divorce (Males) (Number)', 'Median Age At Divorce (Females) (Number)'], dtype='object')

In [259]:
# Male and Female Divocees by age group

age_grp_sex_ofDivorcee.columns = ['Years', 'Total Male Divorcees (Number)', 'Under 25 (Number)', '25-29 (Number)', '30-34 (Number)', '35-39 (Number)', '40-44 (Number)', 
                                  '45-49 (Number)', '50-54 (Number)', '55-59 (Number)', '60 & Over (Number)', 'Unknown Age (Number)', 'Total Female Divorcees (Number)', 
                                  'Under 25 (Number)-F', '25-29 (Number)-F', '30-34 (Number)-F', '35-39 (Number)-F', '40-44 (Number)-F', 
                                  '45-49 (Number)-F', '50-54 (Number)-F', '55-59 (Number)-F', '60 & Over (Number)-F', 'Unknown Age (Number)-F', 
                                  'Median Age At Divorce (Males) (Years)', 'Median Age At Divorce (Females) (Years)']

# SPLITTING THE DATAFRAME

# Median Age of Male and female divorcees at the time of divorce
med_age_div = age_grp_sex_ofDivorcee[['Years','Median Age At Divorce (Males) (Years)', 'Median Age At Divorce (Females) (Years)']].loc[19:].copy()
med_age_div.head(5)


# For Millennials : 

mil_div_age_grp = age_grp_sex_ofDivorcee[['Years','Total Male Divorcees (Number)', 'Under 25 (Number)', '25-29 (Number)', '30-34 (Number)', '35-39 (Number)',
                                  'Total Female Divorcees (Number)', 'Under 25 (Number)-F', '25-29 (Number)-F', '30-34 (Number)-F', '35-39 (Number)-F' ]].loc[19:].copy()

mil_div_age_grp.columns 

mil_div_age_grp.columns = ['Years', 'Total Male Divorcees (Number)', 'Male Divorcees aged Under 25 (Number)', 'Male Divorcees aged 25-29 (Number)', 
                    'Male Divorcees aged 30-34 (Number)', 'Male Divorcees aged 35-39 (Number)','Total Female Divorcees (Number)', 
                    'Female Divorcees aged Under 25 (Number)', 'Female Divorcees aged 25-29 (Number)', 'Female Divorcees aged 30-34 (Number)', 
                    'Female Divorcees aged 35-39 (Number)']

mil_div_age_grp.head(5)

mil_div_age_grp.to_csv('Millennial_median_age_Male_Female_atTime_ofDivorce.csv')
millennials_divorcees = mil_div_age_grp.copy()
millennials_divorcees

# Total Divorce  of male and female
tot_div_male_fem= millennials_divorcees[['Years','Total Male Divorcees (Number)', 'Total Female Divorcees (Number)']].copy()
tot_div_male_fem.head(5)

# Millennial Males Divorcees-
div_males_mil = millennials_divorcees[['Years','Male Divorcees aged Under 25 (Number)', 'Male Divorcees aged 25-29 (Number)', 'Male Divorcees aged 30-34 (Number)', 'Male Divorcees aged 35-39 (Number)']].copy()
div_males_mil.head(4)

# Millennial Females Divorcees
div_females_mil = millennials_divorcees[['Years','Female Divorcees aged Under 25 (Number)', 'Female Divorcees aged 25-29 (Number)', 'Female Divorcees aged 30-34 (Number)', 'Female Divorcees aged 35-39 (Number)']].copy()
div_females_mil.head(4)


# For Gen X:

genx_div_age_grp = age_grp_sex_ofDivorcee[['Years','Total Male Divorcees (Number)', '40-44 (Number)', '45-49 (Number)', '50-54 (Number)', '55-59 (Number)', '60 & Over (Number)','Total Female Divorcees (Number)','40-44 (Number)-F', '45-49 (Number)-F', '50-54 (Number)-F', '55-59 (Number)-F', '60 & Over (Number)-F']].loc[19:].copy()
genx_div_age_grp.head(4)
genx_div_age_grp.columns = [['Years', 'Total Male Divorcees (Number)', 'Male Divorcees aged 40-44 (Number)', 'Male Divorcees aged 45-49 (Number)', 'Male Divorcees aged 50-54 (Number)', 'Male Divorcees aged 55-59 (Number)', 'Male Divorcees aged 60 & Over (Number)', 'Total Female Divorcees (Number)', 'Female Divorcees aged 40-44 (Number)', 'Female Divorcees aged 45-49 (Number)', 'Female Divorcees aged 50-54 (Number)', 'Female Divorcees aged 55-59 (Number)', 'Female Divorcees aged 60 & Over (Number)']]
genx_div_age_grp.to_csv('GenX_median_age_Male_Female_atTime_ofDivorce.csv')
gen_x_divorcees = genx_div_age_grp.copy()
gen_x_divorcees.head(4)

# Gen X Males Divorcees
genX_divorcees_males = gen_x_divorcees[['Years','Male Divorcees aged 40-44 (Number)', 'Male Divorcees aged 45-49 (Number)', 'Male Divorcees aged 50-54 (Number)', 'Male Divorcees aged 55-59 (Number)', 'Male Divorcees aged 60 & Over (Number)']].copy()
genX_divorcees_males.head(5)

# Gen X Females Divorcees
genx_divorcees_females = gen_x_divorcees[['Years','Female Divorcees aged 40-44 (Number)', 'Female Divorcees aged 45-49 (Number)', 'Female Divorcees aged 50-54 (Number)', 'Female Divorcees aged 55-59 (Number)', 'Female Divorcees aged 60 & Over (Number)']].copy()
genx_divorcees_females.head(3)

   Years Female Divorcees aged 40-44 (Number) Female Divorcees aged 45-49 (Number) Female Divorcees aged 50-54 (Number) Female Divorcees aged 55-59 (Number) Female Divorcees aged 60 & Over (Number)
19  2003                                  586                                  394                                  276                                  112                                       44
20  2002                                  544                                  383                                  208                                   86                                       41
21  2001                                  479                                  358                                  181                                   78                                       40

In [258]:
#KEY INDICATORS ON THE DIVORCES

divorce_key_indicator

# Key factors of divorce


k_div_df = divorce_key_indicator[['Years', 'Total Divorces (Number)','Median Age Of Male Divorcees (Years)','Median Age Of Female Divorcees (Years)','Median Duration Of Marriage For Divorces (Years)']].loc[19:].copy()

k_div_df.head(4)
k_div_df.to_csv('key_factors_of_divorce.csv')
key_factors_divorce = k_div_df.copy()
key_factors_divorce

    Years  Total Divorces (Number)  Median Age Of Male Divorcees (Years)  Median Age Of Female Divorcees (Years)  Median Duration Of Marriage For Divorces (Years)
19   2003                     6100                                  39.2                                    35.7                                               9.6
20   2002                     5522                                  38.7                                    35.6                                               9.6
21   2001                     4819                                  39.0                                    35.5                                               9.5
22   2000                     4920                                  39.0                                    35.5                                               9.6
23   1999                     5065                                  38.9                                    35.4                                               9.8
24   1998                     5378                                  38.7                                    35.4                                               9.8
25   1997                     4665                                  38.2                                    35.0                                               9.9
26   1996                     4447                                  38.4                                    35.3                                              10.2
27   1995                     4098                                  38.2                                    35.0                                              10.5
28   1994                     3555                                  37.3                                    34.3                                              10.0
29   1993                     3826                                  37.0                                    33.8                                               9.6
30   1992                     3567                                  37.2                                    34.1                                              10.3
31   1991                     3813                                  36.7                                    33.6                                              10.0
32   1990                     3150                                  35.9                                    32.6                                               9.2
33   1989                     2541                                  35.8                                    32.6                                               9.0
34   1988                     2536                                  36.1                                    32.2                                               9.0
35   1987                     2339                                  35.6                                    32.1                                               9.0
36   1986                     2271                                  35.5                                    31.8                                               8.9
37   1985                     2048                                  34.8                                    31.4                                               8.8
38   1984                     2028                                  34.7                                    31.4                                               9.2
39   1983                     2069                                  34.5                                    31.0                                               8.9
40   1982                     1842                                  34.9                                    31.2                                               8.9
41   1981                     1842                                  34.2                                    30.8                                               8.6
42   1980                     1551                                  34.0                                    30.8                                               8.7